*.suo
*.dll
*.pdb
FsMap3/bin/Debug/FSharp.Core.xml
FsMap3/bin/Release/FSharp.Core.xml
FsMap3Gui/bin/Debug/FSharp.Core.xml
FsMap3Gui/bin/Debug/FsMap3Gui.XML
FsMap3Gui/bin/Release/appbar.diagram.png
FsMap3Gui/bin/Release/FSharp.Core.xml
FsMap3Gui/bin/Release/FsMap3Gui.XML
FsMap3Gui/obj/Debug/FsMap3Gui.exe
*.cache
FsMap3Gui/obj/Debug/FsMap3Gui.fsproj.FileListAbsolute.txt
FsMap3Gui/obj/Release/FsMap3Gui.fsproj.FileListAbsolute.txt
FsMap3Gui/obj/Release/FsMap3Gui.exe
FsMap3Gui/bin/Debug/FsMap3Gui.exe
FsMap3Gui/bin/Debug/FsMap3Gui.exe.config
FsMap3/obj/Debug/FsMap3.fsproj.FileListAbsolute.txt
FsMap3/obj/Release/FsMap3.fsproj.FileListAbsolute.txt
FsMap3Gui/bin/Release/appbar.cursor.move.png
FsMap3Gui/bin/Release/FsMap3Gui.exe
FsMap3Gui/bin/Release/appbar.magnify.png
FsMap3Gui/bin/Release/FsMap3Gui.exe.config
